* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: rgb(0, 238, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container {
  background: white;
  border-radius: 15px;
  padding: 30px 40px;
  width: 100%;
  max-width: 700px;
}

.header {
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.header h2 {
  font-size: 26px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}

.form-group {
  margin-bottom: 20px;
}

.form-row .form-group {
  flex: 1;
  gap: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(183, 183, 190);
  border-radius: 6px;
  font-size: 14px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(183, 183, 190);
  border-radius: 6px;
  font-size: 14px;
}

#marital {
  width: 49% !important;
}

input[type="radio"] {
  width: auto;
  margin-right: 8px;
}

input[type="date"] {
  width: 100%;
  margin-right: 8px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

span {
  color: red;
  font-size: 13px;
}

h3 {
  margin: 20px 0 10px;
  font-size: 18px;
  color: #111827;
}

button {
  display: grid;
  margin: auto;
  background-color: rgb(47, 0, 255);
  font-size: 20px;
  width: 150px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 35px;
  height: 200px;
  background-color: #111827c7;
  border: 3px solid #f1f1f1;
  color: #c6d1ad;
  z-index: 1;
  border-radius: 60px;
  box-shadow: #3a4a6e 10px 2px 100px;
}

.popup-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-group h1 {
  margin-bottom: 20px;
}